---
layout: default
title: Buchholz Fußpflege - Susanne Straubinger
excerpt: Beschreibung
body_class: intro
---
{% include logo.html %}
<div class="text">
    <p>Ob klassische Fußbehandlung oder komplexe medizinische Fußpflege: Bei uns sind Ihre Füße in den besten Händen!<br>Unser kompetentes, stets gut geschultes {% assign links = site.nav | where: "name", "Wer wir sind" %}{% for link in links %}<a class="comedycentral" href="{{ link.link }}">Team</a>{% endfor %} freut sich auf Sie.</p>
</div>
