<footer>
<div class="container">
    <span>Buchholz Fußpflege · Kirchenstraße 7 · 21244 Buchholz i.d.N. · Tel.: <a href="tel:+4941819994124" style="white-space:nowrap;">04181-999 4124</a> · {% assign links = site.footernav | where: "name", "Datenschutz" %}{% for link in links %}<a id="logo" href="{{ link.link }}">Datenschutz</a>{% endfor %}/{% assign links = site.footernav | where: "name", "Impressum" %}{% for link in links %}<a id="logo" href="{{ link.link }}">Impressum</a>{% endfor %}</span>
</div>
</footer>