.bg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  @media (max-width: 699px){
    position: relative;
    top: 0;
    height: 350px;
  }

  &.intro {
    background-image: url(../assets/images/bg/start.jpg);
    @media (max-width: 699px) {
      height: 350px;
    }

  }

  &.team {
    background-image: url(../assets/images/bg/start.jpg);
  }

  &.was {
    background-image: url(../assets/images/bg/start.jpg);
  }

  &.behandlungen {
    background-image: url(../assets/images/bg/start.jpg);
  }
}