<!doctype html>
<html class="no-js" lang="">
{% include head.html %}
    <body class="{% if page.body_class %}{{ page.body_class }}{% endif %}">
        {% include navicon.html %}
        {% include header.html %}
        <div class="bg {% if page.body_class %}{{ page.body_class }}{% endif %}">
        </div>
        <div id="wrap">
            <div id="page">
                <div class="container">
                    {% include logo2.html %}
                    {{ content }}
                </div><!-- .container -->
            </div><!-- #page -->
        </div>
        {% include footer.html %}
        {% include scripts.html %}
        {% include googleanalytics.html %}
    </body>
</html>
